<mat-toolbar class="row toolbar">
  <div class="col-1 nopadding">
    <button *ngIf="isMobile" class="toggleButton" (click)="sidenav.toggle()">
      <fa-icon [icon]="faBars" size="lg" style="color: white;"></fa-icon>
    </button>
  </div>
  <div class="col-11">
    <span [innerHTML]="'TOOL_BAR_TEXT' | translate"></span>
  </div>
</mat-toolbar>

<mat-drawer-container class="nav-container">
  <mat-drawer #sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of (fromTo | orderBy: 'order')">
        <mat-expansion-panel-header
          [collapsedHeight]="'3rem'"
          [expandedHeight]="'3rem'"
        >
          <mat-panel-title>
            {{ item.country | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#" *ngFor="let fromTo of item.from_to">
            {{ fromTo | translate }}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
