@import "app.import";

.top-banner {
  background: url("/assets/images/top-bg.png");
  background-repeat: repeat-x;
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  padding: 0 16px;
}

@include media-breakpoint-up(xs) {
  .top-banner {
    background-size: 100% 90px;
  }
  div.tel {
    font-size: 10px;
    font-weight: 500;
  }
}

@include media-breakpoint-up(md) {
  .top-banner {
    background-size: 100% 90px;
  }
  div.tel {
    font-size: 16px;
    font-weight: 500;
  }
}

@include media-breakpoint-up(lg) {
  .top-banner {
    background-size: 100% 100px;
  }
  div.tel {
    font-size: 20px;
    font-weight: 500;
    margin-left: -16px;
  }
}

div.tel {
  text-align: right;
  padding-top: 10px;
  margin-right: 16px;
  color: firebrick;
  white-space: nowrap;
}

div.lang {
  text-align: right;
  padding-top: 16px;
  margin-right: 16px;
  white-space: nowrap;
}
