<div class="row top-banner">
  <div class="col-lg-5 d-none d-lg-block d-xl-block">
    <a href="#" target="_top"
      ><img src="assets/images/e-Travel-logo.png" height="100px"
    /></a>
  </div>
  <div class="col-md-4 col-xs-6 d-block d-lg-none">
    <a href="#" target="_top"
      ><img src="assets/images/e-Travel-logo-small.png" width="100px"
    /></a>
  </div>
  <div class="col-lg-5 col-md-5 d-none d-md-block d-lg-block d-xl-block">
    <app-facebook></app-facebook>
  </div>
  <div style="text-align:center">
    <fa-icon [icon]="faPhoneSquare" size="2x"></fa-icon>
  </div>
</div>
